option:disabled{
    background-color:lightgray;
}
select {
    color: blue;
}

.falcone{
    color: #fff !important;
    font-family: cursive;
}
.select-planets{
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}
.success-falcone{
    font-family: cursive;
    text-align: center;
    margin-bottom: 2px;
}

.failure-falcone{
    font-family: cursive;
    text-align: center;
    margin-bottom: 2px;
}